@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030912;
}

html {
  scroll-behavior: smooth;
}

.home {
   background: linear-gradient( #0f172a, #0e7490, #312e81);
   width: full;
   min-height: 120vh;
}

.about-me {
  background-color: #030912;
  width: full;
  min-height: 140vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 1s ease-out forwards;
  will-change: transform, opacity;
  opacity: 0;
  transform: translateY(100px);
}

.delay-1 {
  animation-delay: 0s;
}
.delay-2 {
  animation-delay: 0.2s;
}
.delay-3 {
  animation-delay: 0.4s;
}
.delay-4 {
  animation-delay: 0.6s;
}
.delay-5 {
  animation-delay: 0.8s;
}